/*svg {*/
/*    fill: currentColor;*/
/*}*/

pre {
    overflow: auto;
    width: 100%;
    font-size: 12px;
    padding-bottom: 10px;
    margin-bottom: 0;
}

table {
    @apply font-mono font-normal text-left
}
table th, table td {
    @apply px-2
}
